.map {
    float: right;
    width: 80%;
}

.sideboard{
    float: left;
    width:20%;
}

.container{
    margin-right: auto;
    margin-left: auto;
    max-width:1600px;
}

.dropdownmenu{
    background-color:#3C3C3C;
    width:50%;
    color:#FFFFFF;
}

.cubes p{
    background-color:#3C3C3C;
    width:50%;
    color:#FFFFFF;
    padding:10px;
    font-weight: bold;
}

.hiddenCards{
   display: none;
   padding: 5px;
}

.hiddenCards li{
    text-decoration: none;
    width:100%;
    display: block;
    padding: 4px;
}

.yellow{
    background-color:#FFF666;
    color:black;
}

.red{
    background-color:#FF4D4D;
    color:black;
}

.blue{
    background-color:#256EB8;
    color:black;
}
.black{
    background-color:black;
    color:#FFFFFF;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	background-color: #2F3036; 
	color:#FFFFFF;
	width:100%;
    padding: 10px;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #hand1{
    display: block;
}

